  /* navigation */
  #navbar{
    flex-direction: column;
    height: 100px;
  }
  #navbar ul li a{
    font: 1rem;
    padding: 0px 7px;
  }
  /* home section */
  #home{
  
    height: 280px;
    flex-direction: column;
    padding: 11px 55px;
         
}
#home::before{
  height: 410px;
}
#home p{
  font-size: 13px;
}
/* services section  */
#services{
  flex-direction: column;
  margin: 10px;

}
#services .box{
padding: 9px;
margin: 4px 2px;
margin-bottom: 20px;

}
#services .box img {
  height: 100px;
}
/* client section   */
#clients{
  flex-wrap: wrap;
}

/* element.style {
} */
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
section {
    display: block;
}
#client-section::before {
   height: 53%;
}
#clients img{
  width: 66px;
  padding:  6px;
  height: auto;

}
.clients-item {
  padding: 4px;
}
.btn{
  font-size: 13px;
  padding: 2px 6px;
}



/* contact section  */
#contact-box form{
  width: 75%;
}

/* utility classes  */
.h-primary{
  font-size: 26px;
}
